coverage==6.3.3
cycler==0.11.0
-e git+git@github.com:lubro-crypto/python_intermediate_inflammation.git@52791f51101ca60c3f4970e40c44fd67ead49e0e#egg=inflammation_analysis
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
